* {
	margin: 0; padding: 0;
}

html, body .popup-container{
  width: 250px;
}

main {
	height: 15em;
}
.refresh {
	margin: 4px 4px 0px 0px;
	float: right;
}
.refresh:hover {
	cursor: pointer;
}

.summary-table {
	padding: 23px 9px;
}
table > tr > td:last-of-type {
	padding-left: 40px;
  text-align: right;
}

table > tr:nth-child(odd) {
	background-color: #c7e4fb;
}
fieldset:first-child {
	margin-bottom: 10px;
}
.buttons > li {
	list-style-type: none;
	display: block;
	background-color: #ff9800;
	width: 40%;
	text-align: center;
	padding: 5px;
	height: 100%;
}
.buttons  > li:hover {
	color: white;
	cursor: pointer;
}
.buttons  > li:first-child {
	float: left;
}
.buttons  > li:last-child{
	float: right;
}
.last-update {
	font-size: xx-small;
  float: right;
	margin: -5px 8px 4px;
	height: 1em;
}
.popup-menu{
	position: absolute;
	z-index: 100000;
	left: 227px;
	top: 6px;
	cursor: pointer;
}